.gamepage__img-container {
  width: 500px;
  height: 500px;
  overflow: hidden;
  cursor: grab;
  position: relative;
}

.gamepage__img {
  width: 1000px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
