@font-face {
  font-family: "Manuscript-Bold";
  src: url("../../assets/fonts/Manuscript-serif/TTF/Manuscript-Bold.ttf");
}
@font-face {
  font-family: "Manuscript-Light";
  src: url("../../assets/fonts/Manuscript-serif/TTF/Manuscript-Light.ttf");
}
@font-face {
  font-family: "Manuscript-Regular";
  src: url("../../assets/fonts/Manuscript-serif/TTF/Manuscript-Regular.ttf");
}
