@use "../../styles/partials/variables" as *;
@use "../../styles/partials/resets" as *;

* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  background-color: #f2fbe0;
  display: flex;

  &__title {
    color: black;
    padding: 2rem; //trbl
  }
}

.vl {
  border-left: 1px solid black;
  height: 100px;
}
