@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;
@use "../styles/partials/variables" as *;
/* @use "../styles/partials/global" as *; */

* {
  box-sizing: border-box;
  margin: 0;
  background-color: $primary-bg;
}

.footer {
  margin: 8rem 2rem 0 2rem;
  /*   border: 2px solid blue; */

  //everything except copyright
  &__container {
    display: flex;
    /*  border: 2px solid red;
 */
    @media (min-width: 768px) {
      justify-content: space-between;
    }
    @media (max-width: 1279px) {
      flex-direction: column;
    }
  }

  &__title {
    font-family: $ff-newsreadern;
    color: $primary-text;
    margin-bottom: 4rem;

    @media (max-width: 767px) {
      font-size: 2rem;
      line-height: 2rem;
      font-weight: 400;
      margin-bottom: 2rem;
    }
    @media (min-width: 768px) {
      font-size: 2.5rem;
      line-height: 2.5rem;
      font-weight: 400;
    }
  }

  //photographers, about, socials
  &__sub {
    /* border: 2px solid red; */
    display: flex;
    gap: 8rem;

    @media (max-width: 1279px) {
      flex-direction: column;
      gap: 0;
    }
  }

  //photographers
  //about
  &__subcontainer {
    margin-bottom: 1rem;
  }

  &__content {
    color: $primary-text;
    font-family: $ff-outfit500;
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: 500;
    margin: 0 0 1rem 0;

    @media (min-width: 768px) {
      font-size: 1.25rem;
      line-height: 1.625rem;
      font-weight: 500;
      font-family: $ff-outfit500;
      border-radius: 12px;
    }
    @media (max-width: 767px) {
      font-size: 0.75rem;
      line-height: 0.9375rem;
      font-weight: 500;
      font-family: $ff-outfit500;
      border-radius: 8px;
    }
  }

  &__icon {
    margin: 0 1rem 0 0; //trbl
    /*     @media (min-width: 768px) {
      width: 100%;
    } */
    /*     @media (max-width: 767px) {
      width: 50%;
    } */
  }

  &__copyright {
    display: flex;
    gap: 2rem;
    color: $optional-text;
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: 500;
    margin-top: 6rem;
  }
}
