@use "../../styles/partials/variables" as *;
@use "../../styles/partials/resets" as *;

.wordcard {
  display: flex;
  flex-direction: column;
  /*   justify-content: center;
  align-items: center; */
  height: 100vh;

  &__container {
    width: 600px;
    padding: 20px;
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 4px 4px 0px black;
    margin: 0 auto;
    margin-top: 5rem;
  }

  &__title {
    padding-left: 2.2rem;
  }

  &__subtitle {
    padding-bottom: 2rem;
  }

  &__input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  &__input {
    flex: 1;
    padding: 10px;
    border: 1px solid black;
    outline: none;
  }

  &__btn {
    padding: 10px 15px;
    /*     border: 1px solid black; */
    background: $green;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s;

    &:hover {
      background: black;
      color: white;
    }
  }

  &__clearbtn,
  &__savebtn,
  &__addbtn {
    margin-top: 10px;
    display: block;
    width: 100%;
    border: 1px solid black;
    padding: 10px 15px;
    background: white;

    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s;

    &:hover {
      background: black;
      color: white;
    }
  }

  &__removebtn {
    float: right;
  }

  &__savebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 15px;
    border: 2px solid black;
    background: white;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
    position: relative;
    transition: all 0.3s ease-in-out;

    span {
      position: relative;
      transition: all 0.3s ease-in-out;
    }

    svg {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      stroke-dasharray: 13;
      stroke-dashoffset: 13;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      background: black;
      color: white;

      svg {
        stroke-dashoffset: 0;
      }
    }
  }

  &__error {
    color: coral;
    font-size: 0.9rem;
    margin-top: 10px;
  }

  &__result {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    padding: 10px;
  }

  &__translated {
    font-size: 2.2rem;
  }

  &__soundbtn {
    background: none;
    border: none;
    cursor: pointer;
  }

  &__list {
    margin-top: 30px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: left;
  }

  &__list-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__empty-list {
    font-style: italic;
    color: gray;
  }

  &__list-item {
    padding: 5px;
    border-bottom: 1px dashed black;
  }

  &__list-word {
    display: block;
  }
}
