.gamecard {
  &__settings-container {
    display: flex;
    flex-direction: column;
    width: 100px;
    gap: 2rem;
    margin-top: 12rem;
    padding-left: 2rem;
  }

  &__help-btn,
  &__volume-btn,
  &__translator-tool-btn {
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1rem;
    background: white;
    border: solid black 1px;
    border-radius: 1rem;
    width: fit-content;
  }

  &__upper-container {
    display: flex;
    padding: 0 2rem 2rem 5rem; //trbl
  }

  &__magnifyingglass {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid black;
    background-size: 1976px auto;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/kitchensg.svg");
    pointer-events: none;
    transform: translate(-50%, -50%);
  }

  &__img-container {
    width: 988px;
    overflow: visible;
    cursor: none;
    position: relative;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
  }

  &__clickable-areas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .clickable-area {
    position: absolute;
    width: 50px;
    height: 50px;
    /* background-color: rgba(255, 255, 255, 0.2); */
    border-radius: 50%;
    overflow: hidden;
    z-index: 10;

    &::after {
      content: "";
      position: absolute;
      width: 200%;
      height: 200%;
      background: rgba(255, 255, 255, 0.4);
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
      transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    }

    &.clicked::after {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }

  &__cards-container {
    display: flex;
    width: 1000px;
    justify-content: center;
    margin-left: 6rem;
  }

  &__card {
    width: 200px;
    height: 100px;
    perspective: 1000px;
    cursor: pointer;
    position: relative;
    margin: 2rem;
  }

  &__card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }

  &__card.flipped &__card-inner {
    transform: rotateY(180deg);
  }

  &__front,
  &__back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 1rem;
  }

  &__front {
    background-color: white;
  }

  &__back {
    transform: rotateY(180deg);
    background-color: coral;
  }
}
